<div style="text-align: center;">
  <div class="todo-item">
    <label >New Todo</label>
    <br />
    <input type="text" [(ngModel)]="inputValue"/>
    <br />
    <br />
    <button (click)="addTodo()" >Add Todo</button>
    <br />
    <br />
  </div>
    <div *ngFor="let todo of data" class="todo-item"> 
      <h3>{{todo.name}}</h3>
      <h6>{{todo.completed == false?"Not Completed":"Completed"}}</h6>
      <button (click)="deleteTodo(todo.id)">Delete Todo</button>
      <button (click)="changeStatus(todo.id, todo.completed)">Change Status</button>
    </div>
</div>